@use "utils/variables" as vars;
@use "utils/mixins" as mixins;
@use "utils/colors" as colors;

.background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .popup {
    background-color: #ffffff;
    border-radius: 0.2rem;
    .close {
      display: flex;
      justify-content: flex-end;
      user-select: none;
      .btnClose {
        cursor: pointer;
        user-select: none;
        border-radius: 50%;
        font-size: 1.4rem;
        width: 1.4rem;
        height: 1.4rem;
        line-height: 1.4rem;
        text-align: center;
        &:hover {
          background-color: #0000001a;
        }
      }
    }
    .body {
      user-select: none;
      padding: 20px 50px;
    }
    .action {
      background-color: #dddddd;
      display: flex;
      justify-content: center;
      padding: 10px;
      button {
        cursor: pointer;
        padding: 2px 25px;
      }
    }
  }
}
